.navbar {
  padding: 0 12vw;
  height: 100px;
}

.navbar__logo a {
  font-size: 3rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}

.cart {
  position: relative;
}

.cart__count {
  position: absolute;
  top: -12px;
  right: -14px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: var(--dark-color);
  color: var(--white-color);
  font-size: 1.2rem;
}
