.navbar {
  padding: 0 12vw;
  height: 100px;
}

.navbar__logo a {
  font-size: 3rem;
  font-family: var(--font-primary);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--dark-color);
}
