.wrapper {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  width: 100%;
  padding: 1px;
  border: 1px solid var(--dark-color);
  background: transparent;
  overflow: hidden;
}

.wrapper .icon__left,
.wrapper .icon__right {
  position: absolute;
  margin-top: 2px;
}

.wrapper .icon__left {
  left: 14px;
}

.wrapper .icon__right {
  background: transparent;
  border: none;
  outline: none;
  right: 12px;
  cursor: pointer;
}

.wrapper input {
  padding: 16px 20px;
  border: none;
  outline: none;
  font-size: 1.8rem;
  width: 100%;
  color: var(--dark-color);
  background: transparent;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.wrapper input::placeholder {
  color: var(--secondary-white-color);
}

.wrapper input.icon {
  padding-left: 42px;
}

@media screen and (max-width: 740px) {
  .wrapper input {
    font-size: 1.6rem;
  }

  .wrapper .icon__left svg,
  .wrapper .icon__right svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 438px) {
  .wrapper input {
    font-size: 1.4rem;
  }

  .wrapper .icon__left svg,
  .wrapper .icon__right svg {
    width: 18px;
    height: 18px;
  }
}
