.wrapper {
  position: relative;
  display: flex;
  display: -ms-flexbox;
  align-items: center;
  width: 100%;
  padding: 1px;
  border-radius: 8px;
  background: linear-gradient(
    120deg,
    var(--pink-color),
    var(--blue-color),
    var(--success-color),
    var(--pink-color)
  );
  background-size: 300% 300%;
  animation: borderMove 4s linear infinite;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  overflow: hidden;
}

.wrapper.normal {
  padding: 0;
  background: linear-gradient(
    120deg,
    var(--primary-surface-color),
    var(--primary-surface-color),
    var(--primary-surface-color),
    var(--primary-surface-color)
  );
  border: 1px solid transparent;
}

.wrapper.normal:focus-within {
  border: 1px solid var(--secondary-white-color);
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.wrapper .icon__left,
.wrapper .icon__right {
  position: absolute;
  margin-top: 2px;
}

.wrapper .icon__left {
  left: 14px;
}

.wrapper .icon__right {
  background: transparent;
  border: none;
  outline: none;
  right: 12px;
  cursor: pointer;
}

.wrapper input {
  padding: 16px 20px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 1.8rem;
  width: 100%;
  background-color: var(--primary-surface-color);
  color: var(--white-color);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

.wrapper.normal input {
  background: transparent;
}

.wrapper.normal input {
  width: calc(100% - 24px);
}

.wrapper input::placeholder {
  color: var(--secondary-white-color);
}

.wrapper input.icon {
  padding-left: 42px;
}

@media screen and (max-width: 740px) {
  .wrapper input {
    font-size: 1.6rem;
  }

  .wrapper .icon__left svg,
  .wrapper .icon__right svg {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 438px) {
  .wrapper input {
    font-size: 1.4rem;
  }

  .wrapper .icon__left svg,
  .wrapper .icon__right svg {
    width: 18px;
    height: 18px;
  }
}
